body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wraper-header-content {
    width: 100%;
    background:url(./imgs/background.jpg)center bottom no-repeat;
    padding: 140px 0;
}
.header-content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: #fff;
}
.header-content h1 {
    font-size: 48px;
    margin-top: 0;
}
.header-content p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    padding: 16px 30px;
    background: #119bbf;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover {
    background: #fff;
    color: #119bbf;;
}